

/* Date range picker */
.bs-datepicker-head{
    height: 30px !important;
    padding: 0px 10px !important;
}

/* .bs-datepicker-head button{
    height: 20px !important;
    vertical-align: middle !important;
    line-height: 20px !important;
} */

/* Search Bar */
.badge-city, .badge-hotel{
    padding: 0px 5px;
    border-radius: 50px;
    float: right;
    font-size: 9px;
    font-weight: 600;
}
.badge-city{
    color: #3AACED;
}
.badge-hotel{
    color: #0dbb0d;
}
.search-drop-list li{
    border-bottom: 1px solid #e1dcdc;
    padding-top: 3px;
}

.cus-discription{
    font-size: 14px;
}


/* View Details */
.room_night{
    font-size: 9px !important;
    color: #F9B90F !important;
}


/* Slider */
.slick-prev {
    left: 0px;
    color: #fff;
    background-color: #18458B;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 0px 9px rgba(255,255,255,0.4);
    z-index: 120;
}
.slick-next{
    right: 0px;
    color: #fff;
    background-color: #18458B;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 0px 9px rgba(255,255,255,0.4);
    z-index: 120;
}
.slick-next:hover, .slick-prev:hover{
    background-color: #2C3B5A;
}

@media (max-width: 480px) {
    .slick-prev {
        padding-top: 2px;
        width: 20px;
        height: 20px;
        box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.4);
        
    }
    .slick-next{
        padding-top: 2px;
        width: 20px;
        height: 20px;
        box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.4);
    }
    .slick-prev:before, .slick-next:before{
        font-size: 16px;
    }
  }


/* 

*/
.listsearch-input-item .chosen-select:before {
    font-family: Font Awesome\ 5 Pro;
    content: "\f0c9";
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 16px;
    top: 0;
    z-index: 10;
}
.listsearch-input-item label i{
    position: absolute;
    top: 46px;
}
.listsearch-input-item .chosen-select{
    background-color: #F7F9FB;
    padding: 14px 20px 14px 45px;
    border-radius: 6px;
    float: left;
    width: 100%;
    color: #666;
    border: solid 1px #eee;
}


.previous-rate-cut{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: #a40000;
}

section.parallax-section .bg{
    background: url('/assets/images/bg/4.jpg') repeat;
}

.custom-form input[type="number"]{
    float: left;
    border: 1px solid #eee;
    background: #F7F9FB;
    width: 100%;
    padding: 14px 20px 14px 45px;
    border-radius: 6px;
    color: #666;
    font-size: 13px;
    
}

/* Booking details */
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}

.mb-2{
    margin-top: 10px;
}
.mb-3{
    margin-top: 15px;
}



/* ========================
    Swal Fire
===========================*/
div:where(.swal2-container) div:where(.swal2-popup){
    font-size: 0.7rem !important;
}

